<mat-sidenav-container>
  <mat-sidenav  #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item>
        <span class="label">Home</span>
      </a>
      <a mat-list-item>
        <span class="label">Contact Us</span>
      </a>
      <a mat-list-item>
        <span class="label">Submit New Project</span>
      </a>
      <a mat-list-item>
        <span class="label">Free Doctor Consultation</span>
      </a>
      <a mat-list-item>
        <span class="label">Sign in</span>
      </a>
      <a class="red-btn" mat-list-item type="button">
        <span class="label">Sign Up</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="header-top">
      <div fxHide.gt-xs>
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a>
          <img src="../assets/images/logo.png" alt="logo" class="logo-img"/>
        </a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
            <a>
              <span  class="label">Home</span>
            </a>
          </li>
          <li>
            <a>
              <span class="label">Contact Us</span>
            </a>
          </li>
          <li>
            <a>
              <span class="label">Submit New Project</span>
            </a>
          </li>
          <li>
            <a>
              <span class="label">Free Doctor Consultation</span>
            </a>
          </li>
          <li>
            <a>
              <span class="label">Sign in</span>
            </a>
          </li>
          <li>
            <a class="red-btn" >
              <span class="label">Sign Up</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

  <div class="container">
    <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-lg="row"  fxLayoutAlign="center center" class="content search-box-top">
      <div class="blocks">

        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>What you are looking for...</mat-label>
            <textarea matInput placeholder=""></textarea>
          </mat-form-field>
        </form>
        <button class="red-btn-main" button="submit" mat-raised-button color="warn" type="submit">
          Search
        </button>
      </div>
  </div>

    <div class="container center-cont" layout="row">
      <div class="item item-4" fxFlex >
        <h1 class="header center  orange-text text-darken-3">GenericPedia – Encyclopedia of Generic Drugs</h1>
        <h6>It support following</h6>
        <ul>
          <li><span class="material-icons">keyboard_arrow_right</span> Drug Brand Name ( Generic drugs brand name list )</li>
          <li><span class="material-icons">keyboard_arrow_right</span> Generic Name</li>
          <li><span class="material-icons">keyboard_arrow_right</span> Drug – Drug Interaction Search.</li>
          <li><span class="material-icons">keyboard_arrow_right</span> Pharmaceutical company Name</li>
          <li><span class="material-icons">keyboard_arrow_right</span> Generic dose</li>
          <li><span class="material-icons">keyboard_arrow_right</span> Combination of generic name</li>
          <li><span class="material-icons">keyboard_arrow_right</span> Search all brand which are 100% similar to other brand</li>
          <li><span class="material-icons">keyboard_arrow_right</span> Word Auto completion when you type</li>
          <li><span class="material-icons">keyboard_arrow_right</span> Select Brand or Generic from drop down to search respective content.</li>
        </ul>
        <br><br>
        <h1>Following type of Input is supported</h1>
        <ul>
          <li><span class="material-icons">keyboard_arrow_right</span> Full brand or generic name or  pharmaceutical  company like  Dolo Relieve or Dolo ,  paracetamol,  Medico Health Care etc</li>
          <li><span class="material-icons">keyboard_arrow_right</span> combination of   any of above like  paracetamol  Medico Health Care ,  Dolo paracetamol  etc.</li>
          <li><span class="material-icons">keyboard_arrow_right</span> Partial Name if you know only part of name of drug or generic name ( minimum of 3 character you should know e.g. para, ceta, medi, dolo ) .
            Your search query will be like this  para* , *ceta* , *mol,  i.e. you have to replace the missing characters with * ( without any space )</li>
        </ul>
        <h1>Input for Drug – Drug Interaction Search</h1>
        <ul>
          <li><span class="material-icons">keyboard_arrow_right</span> Right Name of any no. of generic drugs separated by space between which interaction you want to search. It also support partial names
            as mentioned above e.g. paracetamol Probenecid can be searched as para* pro* , *mol pro*, *mol *cid etc. i.e. you have to replace the
            missing characters with * ( without any space )</li>
        </ul>
      </div>
      <div class="item item-5" fxFlex="350px">
        <div class="latest-news-sec">
        <h1>Latest News</h1>
        </div>
      </div>
    </div>
  </div>
<div class="container mat-grid-tile-footer footer-btm-main">
  <mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile>
      <h4>About</h4>
      <ul>
        <li>
          <a href="#">About Drugs.com</a>
        </li>
        <li>
          <a href="#">Advertising Policy</a>
        </li>
        <li>
          <a href="#">Attribution & Citations</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
      </ul>
    </mat-grid-tile>
    <mat-grid-tile>
      <h4>About</h4>
      <ul>
        <li>
          <a href="#">Help Center</a>
        </li>
        <li>
          <a href="#">Frequent Questions</a>
        </li>
        <li>
          <a href="#">Sitemap</a>
        </li>
        <li>
          <a href="#">Contact Us</a>
        </li>
      </ul>
    </mat-grid-tile>
    <mat-grid-tile>
      <h4>TERMS & PRIVACY</h4>
      <ul>
        <li>
          <a href="#">Editorial Policy</a>
        </li>
        <li>
          <a href="#">Privacy Policy</a>
        </li>
        <li>
          <a href="#">Terms of Use</a>
        </li>
      </ul>
    </mat-grid-tile>
    <mat-grid-tile>
      <h4>Newsletters </h4>
      <ul>

        <li>
          Subscribe to newsletters for the latest medication news, alerts, new drug approvals and more.
        </li>

      </ul>
        <form class="">
          <mat-form-field class="example-full-width">
            <mat-label>What you are looking for...</mat-label>
            <textarea matInput placeholder=""></textarea>
          </mat-form-field>
        </form>
        <button button="submit" mat-raised-button color="warn" type="submit">
          Search
        </button>
    </mat-grid-tile>
  </mat-grid-list>

</div>
